<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Login Form HTML CSS | CodingNepal</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Font Awesome CDN link for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet"  href="~/css/style.css"/>

</head>
<body>
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>

        <!-- The following is the body content section that will be dynamically rendered -->
        <div>
            @RenderBody() <!-- This will be replaced with the page-specific content -->
        </div>

    </div>
</body>
</html>
