@model List<Eci_website.Models.Randevu>

<h2>Randevularınız</h2>

<table>
    <thead>
        <tr>
            <th>Çalışan</th>
            <th>Hizmet</th>
            <th>Randevu Tarihi</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.Calisan.AdSoyad</td>
                <td>@randevu.Hizmet.Ad</td>
                <td>@randevu.RandevuTarihi.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@randevu.Durum.ToString()</td>
            </tr>
        }
    </tbody>
</table>
