@model List<Kullanici>
@{
    ViewData["Title"] = "Kullanıcılar - " + ViewBag.RoleName;
}

<br />
<br />
<br />
<br />
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Full Name</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.FullName</td>
        </tr>
    }
</table>

<a class="btn btn-primary" href="@Url.Action("Index", "Roles")">Geri</a>

<br />
<br />
