@{
    ViewData["Title"] = "Hairstyle Changer";
}

<br />
<h2>AI ile Sana Uygun Saç Tipini Bul</h2>

<form method="post" enctype="multipart/form-data" asp-action="UploadHairstyle">
    <div>
        <label for="imageFile">Fotoğraf Yükle:</label>
        <input type="file" name="imageFile" id="imageFile" />
    </div>

    <div>
        <label for="hairType1">Saç Tipi 1:</label>
        <select name="hairType1" id="hairType1">
            <option value="">Seçiniz</option>
            @foreach (var item in ViewBag.HairTypeNames as Dictionary<string, string>)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>


    <button type="submit">Gönder</button>
</form>

<hr />

<!-- Hata mesajlarını göster -->
@if (ViewBag.Error != null)
{
    <div style="color: red;">
        @foreach (var error in ViewBag.Error as List<string>)
        {
            <p>@error</p>
        }
    </div>
}
